.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-clients {
  display: flex;
  flex-direction: column;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-item {
  width: 210px;
  height: 92px;
}

.client-link {
  height: 100%;
  width: 100%;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

// .clients-section {
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .container-clients {
//   display: flex;
//   flex-direction: column;
// }

// .clients-title {
//   margin-bottom: 50px;
// }

// .clients-list {
//   display: flex;
//   gap: 30px;
// }

// .client-item {
//   width: 170px;
//   height: 92px;
// }

// .client-link {
//   height: 100%;
//   width: 100%;

//   border: 1px solid var(--icon-color);
//   border-radius: 4px;
//   fill: var(--icon-color);

//   transition: border-color var(--trans-dur-time-fun),
//     fill var(--trans-dur-time-fun);

//   &:hover,
//   &:focus {
//     fill: var(--accent-color);
//     border-color: var(--accent-color);
//   }
// }
