.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-clients {
  display: flex;
  flex-direction: column;
  gap: 30px;
  // margin-left: auto;
  // margin-right: auto;
}

.clients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.client-item {
  width: 210px;
  height: 92px;
}

.client-link {
  height: 100%;
  width: 100%;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

@media screen and(min-width:480px) {
  .clients-list {
    flex-direction: row;
  }
}

@media screen and(min-width: 768px) {
  .client-item {
    width: 226px;
    height: 92px;
  }
}

@media screen and(min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .client-item {
    width: 170px;
    height: 92px;
  }

  .client-link:hover {
    transition: border-color var(--trans-dur-time-fun),
      fill var(--trans-dur-time-fun);

    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
