.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-filter {
  margin-bottom: 40px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.portfolio-button {
  color: var(--main-black);
  background-color: var(--button-bgcolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  padding: 6px 25px;

  transition: background-color var(--trans-dur-time-fun),
    color var(--trans-dur-time-fun), box-shadow var(--trans-dur-time-fun);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 30px;

  margin-left: auto;
  margin-right: auto;
}

.portfolio-img-link {
  display: block;
  max-width: 370px;

  transition: box-shadow var(--trans-dur-time-fun);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-img-box {
  position: relative;

  overflow: hidden;
}

.portfolio-img {
  width: 370px;
  height: 294px;
}

.img-box-text {
  position: absolute;

  display: block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);

  transition: transform var(--trans-dur-time-fun);

  .portfolio-img-link:hover &,
  .portfolio-img-link:focus & {
    transform: translateY(-100%);
  }
}

.img-inform-box {
  padding: 20px 24px;
  border: 1px solid var(--img-bgcolors);
}

.portfolio-img-title {
  margin-bottom: 4px;

  color: var(--main-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-img-text {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

@media screen and(min-width:768px) {
  .portfolio-img-link {
    max-width: 354px;
  }
}

@media screen and(min-width:1200px) {
  .portfolio-img-link {
    max-width: 370px;
  }
}

// .portfolio-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 94px 0;
// }

// .portfolio-filter {
//   margin-bottom: 50px;
// }

// .filter-list {
//   display: flex;
//   gap: 8px;
// }

// .portfolio-button {
//   color: var(--main-black);
//   background-color: var(--button-bgcolor);
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.63;
//   letter-spacing: 0.03em;
//   border-radius: 4px;
//   border: 0;
//   padding: 6px 24px;

//   transition: background-color var(--trans-dur-time-fun),
//     color var(--trans-dur-time-fun), box-shadow var(--trans-dur-time-fun);

//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//     color: var(--white-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//   }
// }

// .portfolio-list {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: space-between;
//   gap: 30px;
// }

// .portfolio-img-link {
//   display: block;
//   max-width: 370px;

//   transition: box-shadow var(--trans-dur-time-fun);

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .portfolio-img-box {
//   position: relative;

//   overflow: hidden;
// }

// .portfolio-img {
//   width: 370px;
//   height: 294px;
// }

// .img-box-text {
//   position: absolute;

//   display: block;
//   padding: 63px 24px;
//   width: 100%;
//   height: 100%;

//   background-color: rgba(33, 150, 243, 0.9);
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;
//   color: var(--white-color);

//   transition: transform var(--trans-dur-time-fun);

//   .portfolio-img-link:hover &,
//   .portfolio-img-link:focus & {
//     transform: translateY(-100%);
//   }
// }

// .img-inform-box {
//   padding: 20px 24px;
//   border: 1px solid var(--img-bgcolors);
// }

// .portfolio-img-title {
//   margin-bottom: 4px;

//   color: var(--main-black);
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
// }

// .portfolio-img-text {
//   color: var(--grey-color);
//   font-size: 16px;
//   line-height: 1.9;
//   letter-spacing: 0.03em;
// }
