.mobile-menu {
  position: fixed;
  top: 0;
  left: +100%;
  z-index: 100;
  width: 100%;
  height: 100%;

  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;

  background-color: var(--white-color);

  transition: opacity var(--trans-dur-time-fun),
    visibility var(--trans-dur-time-fun), transform var(--trans-dur-time-fun);

  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateX(-100%);
  }
}

.mobile-menu-container {
  position: relative;
  padding: 40px 48px;
  height: 100%;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 40px;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.mobile-menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu-navigation-list__link {
  padding-right: auto;

  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--main-black);

  &.current {
    color: var(--accent-color);
  }

  &:focus {
    color: var(--accent-color);
  }

  &.current::after {
    content: "";

    position: absolute;
    top: 100%;
    left: 0;

    height: 4px;
    width: 100%;

    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-bottom: 64px;
}

.mobile-menu-contacts-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contacts-list__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.mobile-menu-messengers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

// .mobile-menu-messengers-list__item:not(:last-child) {
//   border-right: 1px solid rgba(33, 33, 33, 0.2);
//   padding-right: 5px;
// }

// .mobile-menu-messengers-list__item:not(:first-child) {
//   padding-left: 5px;
// }

.mobile-menu-messengers-list__item {
  position: relative;
}

.mobile-menu-messengers-list__item:not(:last-child):after {
  content: "";

  position: absolute;

  top: 0;
  right: -10px;
  width: 1px;
  height: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu-messengers-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
