.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black);
}

.modal-form-fields-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-form-field {
  display: block;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal-input-box {
  position: relative;
  margin-top: 4px;
}

.modal-input-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--trans-dur-time-fun);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-inf-icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill var(--trans-dur-time-fun);

  .modal-input-field:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-comment {
  resize: none;

  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--trans-dur-time-fun);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.modal-form-check {
  appearance: none;
}

.modal-form-own-check {
  border-radius: 3px;
  border: 1px solid var(--main-black);
  margin-right: 7px;

  .modal-form-check:checked + & {
    border: none;
  }
}

.modal-form-own-check-icon {
  display: none;

  .modal-form-check:checked + .modal-form-own-check & {
    display: block;
  }
}

.modal-form-check-link {
  position: relative;

  color: var(--accent-color);

  &::after {
    content: "";

    position: absolute;
    top: 75%;
    left: 0px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
  }
}

.modal-form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background var(--trans-dur-time-fun),
    box-shadow var(--trans-dur-time-fun);

  &:hover,
  &:focus {
    background: var(--btn-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 768px) {
}

// .modal-title {
//   margin-bottom: 12px;

//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--main-black);
// }

// .modal-form-fields-container {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   margin-bottom: 20px;
// }

// .modal-form-field {
//   display: block;

//   font-size: 12px;
//   line-height: 1.16;
//   letter-spacing: 0.01em;
//   color: var(--grey-color);
// }

// .modal-input-box {
//   position: relative;
//   margin-top: 4px;
// }

// .modal-input-field {
//   width: 100%;
//   height: 40px;
//   padding-left: 42px;

//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;

//   transition: border-color var(--trans-dur-time-fun);

//   &:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }
// }

// .modal-form-inf-icon {
//   position: absolute;
//   top: 11px;
//   left: 12px;

//   transition: fill var(--trans-dur-time-fun);

//   .modal-input-field:focus + & {
//     fill: var(--accent-color);
//   }
// }

// .modal-form-comment {
//   resize: none;

//   width: 100%;
//   height: 120px;
//   padding: 12px 16px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;

//   transition: border-color var(--trans-dur-time-fun);

//   &:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }
// }

// .modal-form-check-field {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 30px;

//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;

//   color: var(--grey-color);
// }

// .modal-form-check {
//   appearance: none;
// }

// .modal-form-own-check {
//   border-radius: 3px;
//   border: 1px solid var(--main-black);
//   margin-right: 7px;

//   .modal-form-check:checked + & {
//     border: none;
//   }
// }

// .modal-form-own-check-icon {
//   display: none;

//   .modal-form-check:checked + .modal-form-own-check & {
//     display: block;
//   }
// }

// .modal-form-check-link {
//   position: relative;

//   color: var(--accent-color);

//   &::after {
//     content: "";

//     position: absolute;
//     top: 75%;
//     left: 0px;
//     display: block;
//     width: 100%;
//     height: 1px;
//     background-color: var(--accent-color);
//   }
// }

// .modal-form-submit {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 10px 52px;

//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

//   transition: background var(--trans-dur-time-fun),
//     box-shadow var(--trans-dur-time-fun);

//   &:hover,
//   &:focus {
//     background: var(--btn-active);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
// }
