.modal-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
}
