.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 480px;
  height: 609px;
  padding: 40px;

  background-color: var(--white-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  &:focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
    height: 581px;
  }
}

// .modal-form {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   width: 528px;
//   height: 581px;
//   padding: 40px;

//   background-color: var(--white-color);
// }

// .modal-close-btn {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 30px;
//   height: 30px;

//   border-radius: 50%;
//   background-color: transparent;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   padding: 0;

//   &:focus,
//   &:hover {
//     fill: var(--accent-color);
//   }
// }
